@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  padding: o;
  margin: 0;
  box-sizing: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(to right, #69ae69 0%,  #436e43 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  margin-top: 100px;
  background: #e7e4e4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50rem;
  height: 30rem;
  box-shadow: 0.5px 0.5px 1px 1px rgb(255, 255, 223);
}

img {
  width: 420px;
  height: 480px;
  background-position: center;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  margin: 5px;
  width: 20rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.error {
  font-family: sans-serif;
  color: red;
}

.submit-btn {
  width: 80%;
  padding: 10px 20px;
  margin-top: 20px;
  background: transparent;
  background: #69ae69;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: bold;
}

.submit-btn:hover {
  background: #436e43;
  transition: all ease-in-out 0.4s;
}

footer {
  margin-top: 90px;
  background: #f0f0f0;
  font-family: sans-serif;
  font-size: 15px;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #868585;
} */